/* Start Main Rules */

body {
    background-color: #bdada5;
    direction: rtl;
}

.container {
    width: 940px;
    margin: 20px auto;
    background-color: #f2eae8;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* End Main Rules */

/* Start Header */

header {
    min-height: 100px;
    background-color: #eedccf;
    overflow: hidden;
}

header .logo {
    width: 20%;
    float: right;
}

header .logo img {
    width: 100px;
    margin: 20px 20px 20px 0;
}

header nav {
    width: 80%;
    float: left;
}

header nav ul {
    margin: 50px 50px 0 0;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

/* End Header */

/* Start Content */

.content {
    height: 500px;
    background-color: floralwhite;
    overflow: hidden;
}

.content .sidebar {
    float: right;
    width: 20%;
    margin-left: 1%;
    background-color: #d8c7c4;
    height: 500px;
}

.container .categories {
    float: left;
    width: 79%;
}

/* End Content */

/* Start Footer */

footer {
    min-height: 100px;
    background-color: #d8c7c4;
}

footer .info {
    height: 100px;
    background-color: #b59488;
}

footer .copyright {
    height: 40px;
    background-color: #814c4f;
}

/* End Footer */