/* Start Main Rules */

body {
    background-color: #bdada5;
    font-family: 'Noto Kufi Arabic', sans-serif;
    direction: rtl;
}

.container {
    width: 940px;
    margin: 20px auto;
    background-color: #f2eae8;
}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* End Main Rules */

/* Start Header */

header {
    min-height: 100px;
    background-color: #eedccf;
    overflow: hidden;
}

header .logo {
    width: 20%;
    float: right;
}

@media (max-width: 767px) {
    header .logo {
        width: 100%;
        height: 50px;
    }
}

header .logo img {
    width: 100px;
    margin: 20px 20px 20px 0;
}

header nav {
    width: 80%;
    float: left;
}

header nav ul {
    margin: 50px 50px 0 0;
    font-size: 17px;
    font-weight: bold;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}

/* End Header */

/* Start Content */

.content {
    min-height: 500px;
    background-color: floralwhite;
    overflow: hidden;
}

.content .sidebar {
    float: right;
    width: 25%;
    margin-left: 1%;
}

.content .sidebar .segment {
    width: 90%;
    border: 1px solid #bdada5;
    margin: 10px auto;
}

.content .sidebar .segment .title {
    background-color: #d8c7c4;
    color: black;
    padding: 5px 0;
    text-align: center;
}

.content .sidebar .segment .data ul {
    text-align: right;
    line-height: 1.7;
}

.content .sidebar .segment .data ul li {
    padding-right: 10px;
}

.content .sidebar .segment .data {
    text-align: center;
}

.content .sidebar .segment .data img {
    max-width: 90%;
    margin: 10px auto;
}

.content .categories {
    float: left;
    width: 74%;
    padding: 0 0 20px 0;
}

.content .categories .category {
    width: 22%;
    margin-left: 3%;
    margin-top: 20px;
    float: right;
    background-color: #d8c7c4;
    text-align: center;
}

.content .categories .category img {
    max-width: 100%;
}

/* End Content */

/* Start Footer */

footer {
    min-height: 100px;
    background-color: #d8c7c4;
}

footer .info {
    height: 100px;
    background-color: #b59488;
    padding: 5px 0;
    text-align: center;
}

footer .info li {
    display: inline-block;
    padding: 40px;
    margin: 5px;
}

footer .copyright {
    padding: 10px 0;
    background-color: #814c4f;
    text-align: center;
}

/* End Footer */